<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head>
        <title>Hello World!</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div>
            <form th:action="@{/logout}" th:method="post">
                <input type="submit" value="Sign Out"/>
            </form>
            <span><a href="/user">User list</a></span>
        </div>
        <div>  
            <form th:method="post" th:action="@{/main}" enctype="multipart/form-data">
                <input type="text" name="text" placeholder="Введите сообщение" />
                <input type="text" name="tag" placeholder="Тэг" />
                <input type="file" name="file">
                <button type="submit">Добавить</button>
            </form>
        </div>
        <br>
        <form th:method="post" th:action="@{/filter}">
            <input type="text" name="filter" th:value="${filter}" placeholder="Введите сообщение" />
            <button type="submit">Найти</button>
        </form>
        <div>Новое сообщение</div>
        <div th:each="message : ${messages}">
            <b th:text="${message.id}"></b>
            <span th:text="${message.text}"></span>
            <i th:text="${message.tag}"></i>
            <strong th:text="${message.authorName}"></strong>
            <div>
                <th:block th:if="${message.filename != null}">
                    <img th:src="@{'/uploads/' + ${message.filename}}" style="height: 150px;"/>
                </th:block>              
            </div>
        </div>
    </body>
</html>